<div class="container">
  <div class="jumbotron">
      <h4>{{currentBudget.name}} - {{currentBudget.date | date:'MMMM, y'}}</h4>

      <p *ngIf="currentBudget.totalBudgeted">Budgeted: {{currentBudget.totalBudgeted | currency:'USD':true}}</p>
      <p *ngIf="currentBudget.availableToBudget">Available To Budget: {{currentBudget.availableToBudget | currency:'USD':true}}</p>
  </div>

  <div *ngFor="let masterCategory of currentBudget.masterCategories">
    <h3>{{masterCategory.name}}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Budgeted</th>
          <th scope="col">Activity</th>
          <th scope="col">Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subCategory of masterCategory.subCategories">
          <td style="width:400px">
            <div class="form-group row">
              <div class="col-10">
                <input class="form-control" [(ngModel)]="subCategory.name" type="text" value="Artisanal kale" id="example-text-input">
              </div>
            </div>
          </td>
          <td>
            <div class="form-group row">
              <div class="col-10">
                <input class="form-control" [(ngModel)]="subCategory.budgeted" (focusout)="focusOutFunction()" type="number" value="Artisanal kale" id="example-text-input">
              </div>
            </div>
          </td>
          <td>
            <div class="form-group row">
              <div class="col-10">
                <input class="form-control" [(ngModel)]="subCategory.activity" [disabled]='true' type="number" value="Artisanal kale" id="example-text-input">
              </div>
            </div>
          </td>
          <td>
            <div class="form-group row">
              <div class="col-10">
                <input class="form-control" [(ngModel)]="subCategory.available" [disabled]='true' type="number" value="Artisanal kale" id="example-text-input">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>