<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Budget App</span>

  <div class="navbar nav mr-auto">
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" [routerLink]="['/budget']">Budget</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" [routerLink]="['/all_accounts']">All Accounts</button>

      </div>
      <div class="col">
        <button class="btn btn-primary" [routerLink]="['/reports']">Reports</button>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>