<div class="container">

<h4>Add a Transaction:</h4>

<form>
  <div class="form-row">
    <div class="col">
      <input type="date" name="date" [(ngModel)]="currentTransaction.date" class="form-control" placeholder="Date">
    </div>
    <div class="col">
      <input type="text" name="payee" [(ngModel)]="currentTransaction.payee" class="form-control" placeholder="Payee">
    </div>
    <div class="col">
      <input type="text" name="category" [(ngModel)]="currentTransaction.category" class="form-control" placeholder="Category">
    </div>
    <div class="col">
      <input type="number" name="outflow" [(ngModel)]="currentTransaction.outflow" class="form-control" placeholder="Outflow">
    </div>
    <div class="col">
      <input type="number" name="inflow" [(ngModel)]="currentTransaction.inflow" class="form-control" placeholder="Inflow">
    </div>
    <div class="col">
      <input type="text" name="memo" [(ngModel)]="currentTransaction.memo"  class="form-control" placeholder="Memo">
    </div>
  </div>
</form>

<button type="button" class="btn btn-success" (click)="addTransaction()">Add Transaction</button>


</div>